.card-header .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f068";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.card-header .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";    /* adjust as needed, taken from bootstrap.css */
}

.variant_head th {
    vertical-align: baseline !important;
}